[software]
GATK=/home/zhujh/software/GenomeAnalysisTK-3.8-0-ge9d806836/GenomeAnalysisTK.jar
plink=/usr/bin/plink
vcftools= /home/zhujh/software/vcftools_0.1.13/bin/vcftools
annovar=/home/zhujh/reference/annovar/annovar

[reference]
ref=/home/zhujh/reference/ucsc.hg19.fasta
ref_chr=/home/zhujh/reference/ucsc.hg19
refGene=/home/zhujh/reference/refGene/refGene.txt
ped=/home/zhujh/Codes/Pipelines/FamilyBasic/all.ped
dbsnp=/home/zhujh/reference/dbsnp/dbsnp_138.hg19.vcf
database=refGene,cytoBand,avsnp147,clinvar_20160302,cosmic70,1000g2015aug_all,1000g2015aug_afr,1000g2015aug_amr,1000g2015aug_eas,1000g2015aug_eur,1000g2015aug_sas,esp6500siv2_all,esp6500siv2_ea,esp6500siv2_aa,exac03,popfreq_max_20150413,cadd13gt20,gerp++gt2,dbnsfp30a,wgRna,targetScanS,genomicSuperDups,dgvMerged,gwasCatalog,tfbsConsSites,phastConsElements46way
operation=g,r,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,r,r,r,r,r,r,r

[inhouse_scripts]
module_path=/home/zhujh/Codes/Pipelines/FamilyBasic

[actSteps]
StepstoRun=InheritanceModels,AnnoAndFiltering,TDT
StepstoWait=Annotation,PhasedBlocks


[CompHetFinderAndFiltering.input]
input.path=${outpath4proj}/MergeAndFiltering/all/VariantFiltering
input.target=all.final.vcf

[CompHetFinderAndFiltering.parameter]
sample=multiple
DEL=NO

[CompHetFinderAndFiltering.output]
output.path=${outpath4step}
output.target=${name}.annovar_filtered.txt

[ADARXlinkFinderAndFiltering.input]
input.path=${outpath4proj}/MergeAndFiltering/all/VariantFiltering
input.target=all.final.vcf

[ADARXlinkFinderAndFiltering.parameter]
sample=multiple


[ADARXlinkFinderAndFiltering.output]
output.path=${outpath4step}
output.target=${name}.annovar_filtered.txt

[DeNovoFinderAndFiltering.input]
input.path=${outpath4proj}/MergeAndFiltering/all/VariantFiltering
input.target=all.final.vcf

[DeNovoFinderAndFiltering.parameter]
sample=multiple
DeNovo=YES

[DeNovoFinderAndFiltering.output]
output.path=${outpath4step}
output.target=${name}.annovar_filtered.txt

[TDT.input]
input.path=/home/zhujh/biliary_bam/VariantFiltering
input.target=${name}.filtered.vcf

[TDT.parameter]
DeNovo=YES

[TDT.output]
output.path=${outpath4step}
output.target=vcf.qc.xls

[AnnoAndFiltering.input]
input.path=${outpath4step}/../InheritanceModels
input.target=*.CompHet.vcf

[AnnoAndFiltering.parameter]
sample=multiple
InheritanceModels=YES
DeNovo=YES

[AnnoAndFiltering.output]
output.path=${outpath4step}
output.target=${name}.annovar_filtered.txt


[PhasedBlocks.input]
input.path=${outpath4proj}/VariantFiltering
input.target=${name}.final.vcf

[PhasedBlocks.parameter]
number_of_nonfounders=2
inclusion_order=4,5,6,7

[PhasedBlocks.output]
output.path=${outpath4step}
output.target=smoothed_blocks.txt

