[software]
samtools=/home/zhujh/software/samtools-1.6/samtools
GATK=/home/zhujh/software/GenomeAnalysisTK-3.8-0-ge9d806836/GenomeAnalysisTK.jar
plink=/usr/bin/plink
igvtools=/opt/NfsDir/BioDir/igvtools_2.3.68/IGVTools/igvtools
picard=/home/zhujh/software/picard-tools-1.119/picard.jar
vcftools=/home/zhujh/software/vcftools_0.1.13/bin/vcftools

[reference]
ref=/home/zhujh/reference/ucsc.hg19.fasta
ref_chr=/home/zhujh/reference/ucsc.hg19
dbsnp=/home/zhujh/reference/dbsnp/dbsnp_138.hg19.vcf
bed=/home/zhujh/reference/refGene/Bait.interval_list
ped=/home/zhujh/Codes/Pipelines/FamilyBasic/all.ped
dbsnp1=/home/zhujh/reference/dbsnp/dbsnp_138.hg19.excluding_sites_after_129.vcf
known3=/home/zhujh/reference/1000G_phase1.snps.high_confidence.hg19.vcf
omni=/home/zhujh/reference/VQSR_resources/1000G_omni2.5.hg19.vcf
axiom=/home/zhujh/reference/VQSR_resources/Axiom_Exome_Plus.genotypes.all_populations.poly.vcf
hapmap=/home/zhujh/reference/VQSR_resources/hapmap_3.3.hg19.vcf
known2=/home/zhujh/reference/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf

[inhouse_scripts]
module_path=/home/zhujh/Codes/Pipelines/MergeAndFiltering

[actSteps]
StepstoRun=CombineGVCFs,GenotypeGVCFs,CombineVariants,MergeGVCFsOther,MergeQCs,VariantFiltering,QualityControlVcf
StepstoWait=Annotation

[CombineGVCFs.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_fam.group
input.pattern=${InputPath}/|/GermlineVariantCalling/|.raw.gvcf.gz

[CombineGVCFs.parameter]
chr=""

[CombineGVCFs.output]
output.path=${outpath4step}
output.target=${name}.raw.gvcf.gz

[GenotypeGVCFs.input]
input.path=${outpath4proj}/MergeAndFiltering
input.target=from_chr.group
input.pattern=${InputPath}/|/CombineGVCFs/|.raw.gvcf.gz

[GenotypeGVCFs.parameter]
chr=""

[GenotypeGVCFs.output]
output.path=${outpath4step}
output.target=${name}.raw.vcf.gz


[CombineVariants.input]
input.path=${outpath4proj}/MergeAndFiltering
input.target=from_chrfam.group
input.pattern=${InputPath}/|/GenotypeGVCFs/|.raw.vcf.gz

[CombineVariants.parameter]
mergecalling=NO
datatype=WGS

[CombineVariants.output]
output.path=${outpath4step}
output.target=all.raw.vcf.gz


[MergeGVCFsOther.input]
input.path=${outpath4proj}
input.target=from_fam.group
input.pattern=${InputPath}/|/MappingAndCleanUp/|.recal.bam:.raw.gvcf.gz

[MergeGVCFsOther.parameter]
mergecalling=YES
datatype=WGS

[MergeGVCFsOther.output]
output.path=${outpath4step}
output.target=all.raw.vcf.gz

[MergeQCs.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_all.group
input.pattern=${InputPath}/|/QualityControlBam/|.Q20Q30.final.txt:.Alig.final.txt:.CrossCont.final.txt:.Hs.final.txt

[MergeQCs.parameter]
method=VQSR

[MergeQCs.output]
output.path=${outpath4step}
output.target=QC.merge.xls

[VariantFiltering.input]
input.path=${outpath4proj}/MergeAndFiltering/all/CombineVariants
input.target=all.raw.vcf.gz

[VariantFiltering.parameter]
method=VQSR
DP=4

[VariantFiltering.output]
output.path=${outpath4step}
output.target=${name}.final.vcf

[QualityControlVCF.input]
input.path=${outpath4proj}/MergeAndFiltering/all/VariantFiltering
input.target=${name}.filtered.vcf

[QualityControlVCF.parameter]
method=VQSR

[QualityControlVCF.output]
output.path=${outpath4step}
output.target=vcf.qc.xls

