[software]
module_path=/opt/NfsDir/UserDir/sunfl/Codes/Pipelines/AnnotationAndReport
annovar=/opt/NfsDir/PublicDir/annovar
[reference]
ref=/opt/NfsDir/PublicDir/reference/ucsc.hg19.fasta
ref_chr=/opt/NfsDir/UserDir/sunfl/Reference/ucsc.hg19
bed=/opt/NfsDir/PublicDir/AgilentTarget/Bait.interval_list
ped=/opt/NfsDir/UserDir/sunfl/Codes/Pipelines/Advanced_Modules/all.ped
database=refGene,cytoBand,avsnp147,clinvar_20160302,cosmic70,1000g2015aug_all,1000g2015aug_afr,1000g2015aug_amr,1000g2015aug_eas,1000g2015aug_eur,1000g2015aug_sas,esp6500siv2_all,esp6500siv2_ea,esp6500siv2_aa,exac03,popfreq_max_20150413,cadd13gt20,gerp++gt2,dbnsfp30a,wgRna,targetScanS,genomicSuperDups,dgvMerged,gwasCatalog,tfbsConsSites,phastConsElements46way
operation=g,r,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,r,r,r,r,r,r,r
[actSteps]
StepstoRun=MergeResults,VariantFiltering,QualityControlVcf
StepstoWait=Annotation,Report4WESBasic

[Annotation.input]
input.target=${outpath4proj}/VariantFiltering/${name}.final.vcf

[Annotation.parameter]
sample=multiple
InheritanceModels=YES
DeNovo=YES
[Annotation.output]
outpath4step=${outpath4proj}/${name}/Annotation

[Report4WESBasic.input]
input.target=.Q20Q30.final.txt:.Alig.final.txt:.CrossCont.final.txt:.Hs.final.txt:_statistic.xls|exon_exp.png:exon_pipe.jpg:quanlity_calu.png:.QC_disR1.png:.QC_disR2.png:.Nu_distR1.png:.Nu_distR2.png:.insert_size.png:_histPlot.png:_cumuPlot.png:.SNP_Spectrum.png:.InDel_Distribution.png

[Report4WESBasic.parameter]
datatype=WGS

[Report4WESBasic.output]
output.target=${name}
