[software]
bwa=/home/zhujh/software/bwa-0.7.16a/bwa
samtools=/home/zhujh/software/samtools-1.6/samtools
picard=/home/zhujh/software/picard-tools-1.119/picard.jar
GATK=/home/zhujh/software/GenomeAnalysisTK-3.8-0-ge9d806836/GenomeAnalysisTK.jar
verifyBamID=/home/zhujh/software/verifyBamID_1.1.3/bin/verifyBamID
FASTX=/home/zhujh/software/FASTX

[reference]
ref=/home/zhujh/reference/ucsc.hg19.fasta
known1=/home/zhujh/reference/1000G_phase1.indels.hg19.vcf
known2=/home/zhujh/reference/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf
dbsnp=/home/zhujh/reference/dbsnp/dbsnp_138.hg19.vcf
EAS_1000g=/home/zhujh/reference/EAS_1000g_Exon.vcf
bed=/home/zhujh/reference/refGene/Bait.interval_list

[inhouse_scripts]
module_path=/home/zhujh/Codes/Pipelines/BasicWESorWGSPlus

[actSteps]
StepstoRun=QualityControlFq,MappingAndCleanUp,GermlineVariantCalling,QualityControlBam
StepstoWait=PreProcess

[PreProcess.input]
input.path=from_sample.ini
input.target=from_sample.ini

[PreProcess.parameter]
merge=NO

[PreProcess.output]
output.path=${outpath4proj}/${name}/PreProcess
output.target=${name}.R1.fq.gz:${name}.R2.fq.gz

[QualityControlFq.input]
input.path=from_sample.ini
input.target=from_sample.ini

[QualityControlFq.parameter]
index="-Q 33"

[QualityControlFq.output]
output.path=${outpath4proj}/BasicWESorWGS/${name}/QualityControlFq
output.target=${name}.fq0.Nu_distR1.png:${name}.fq0.Nu_distR2.png:${name}.fq0.QC_disR1.png:${name}.fq0.QC_disR2.png

[MappingAndCleanUp.input]
input.path=from_sample.ini
input.target=from_sample.ini

[MappingAndCleanUp.parameter]
bwa.mem=YES
thread=6
clean=YES

[MappingAndCleanUp.output]
output.path=${outpath4step}
output.target=${name}.recal.bam

[GermlineVariantCalling.input]
input.path=${outpath4proj}/BasicWESorWGS/${name}/MappingAndCleanUp
input.target=${name}.recal.bam

[GermlineVariantCalling.parameter]
vcftype=gvcf
datatype=WGS

[GermlineVariantCalling.output]
output.path=${outpath4step}
output.target=${name}.raw.gvcf.gz


[QualityControlBam.input]
input.path=${outpath4proj}/BasicWESorWGS/${name}/MappingAndCleanUp
input.target=${name}.recal.bam

[QualityControlBam.parameter]
datatype=WGS

[QualityControlBam.output]
output.path=${outpath4step}
output.target=${name}.Alig.final.txt:${name}.CrossCont.final.txt:${name}.Hs.final.txt:${name}.Q20Q30.final.txt:${name}_cumuPlot.png:${name}_histPlot.png

