[software]
delly=/home/zhujh/software/delly/src/delly
bcftools=/home/zhujh/software/delly/src/bcftools/bcftools
bam2cfg=/home/zhujh/software/breakdancer-master/perl/bam2cfg.pl
breakdancer=/home/zhujh/software/breakdancer-master/build/bin/breakdancer-max

cnvnator=/home/zhujh/software/CNVnator_v0.3.3/src/cnvnator

pindel=/home/zhujh/software/pindel/pindel
pindel2vcf=/home/zhujh/software/pindel/pindel2vcf
bgzip=/home/zhujh/software/htslib-1.6/bgzip
tabix=/home/zhujh/software/htslib-1.6/tabix

[inhouse_scripts]
module_path=/home/zhujh/Codes/Pipelines/StructVariationCalling
BreakDancerFiltering=${module_path}/BreakDancerFiltering.pl
PindelFiltering=${module_path}/PindelFiltering.pl
CNVnatorFiltering=${module_path}/CNVnatorFiltering.pl
DellyFiltering=${module_path}/DellyFiltering.pl

[reference]
ref=/home/zhujh/reference/ucsc.hg19.fasta
ref_chr=/home/zhujh/software/reference/ucsc.hg19
ped=/home/zhujh/Projects/all.ped
gap_file=/home/zhujh/software/Pipelines/FamilyBasic/ISCA-0.1.8/refGenomes/hg19_gap.txt
gaps=/home/zhujh/Codes/Pipelines/StructVariationCalling/hg19_gap.txt
centel=/home/zhujh/Codes/Pipelines/StructVariationCalling/hg19_cen_tel.txt
hg19_excl=/home/zhujh/software/delly/excludeTemplates/human.hg19.excl.tsv

[actSteps]
StepstoRun=DellyDELGenotype,DellyDUPGenotype,DellyINVGenotype,BreakDancerCalling,CNVnatorCalling,PindelCalling,DellyCalling
#StepstoRun=BreakDancerCalling
StepstoWait=Annotation

[BreakDancerCalling.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_fam.ped
input.pattern=${InputPath}/|/MappingAndCleanUp/|.recal.bam

[BreakDancerCalling.parameter]
Filtering_para="centelBuffer=1000:gapOverlap=0.5:gapsBuffer=600:BDscore=25:BDrs=10"

[BreakDancerCalling.output]
output.path=${outpath4step}
output.target=${name}.DEL.filtered.merged.tab:${name}.INV.filtered.merged.tab:${name}.DUP.filtered.merged.tab

[CNVnatorCalling.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_fam.ped
input.pattern=${InputPath}/|/MappingAndCleanUp/|.recal.bam

[CNVnatorCalling.parameter]
Filtering_para="centelBuffer=1000:gapOverlap=0.5:gapsBuffer=600:cnvnator_P=10e-5:cnvnator_q0=0.5:cnvnator_RDcomplex=0.75"
bin_range="500 1000 1500"
chr="chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY chrM"

[CNVnatorCalling.output]
output.path=${outpath4step}
output.target=${name}.DEL.filtered.merged.tab:${name}.DUP.filtered.merged.tab


[DellyCalling.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_fam.ped
input.pattern=${InputPath}/|/MappingAndCleanUp/|.recal.bam

[DellyCalling.parameter]
Filtering_para="centelBuffer=1000:gapOverlap=0.5:gapsBuffer=600"
sv_type="DEL DUP INV"


[DellyCalling.output]
output.path=${outpath4step}
#output.target=${name}.DEL.filtered.merged.tab:${name}.DUP.filtered.merged.tab:${name}.INV.filtered.merged.tab
output.target=${name}.DEL.bcf:${name}.INV.bcf:${name}.DUP.bcf

[DellyMergeDEL.input]
input.path=${outpath4proj}/StructVariationCalling
input.target=from_fam.ped
input.pattern=${InputPath}/|/DellyCalling/|.DEL.bcf

[DellyMergeDEL.parameter]
sv_type="DEL"

[DellyMergeDEL.output]
output.path=${outpath4proj}/StructVariationCalling
output.target=${name}.DEL.bcf

[DellyMergeAllDEL.input]
input.path=${outpath4proj}/StructVariationCalling
input.target=from_fam.ped
input.pattern=${InputPath}/|/DellyDELGenotype/|.DEL.geno.bcf

[DellyMergeAllDEL.parameter]
sv_type="DEL"

[DellyMergeAllDEL.output]
output.path=${outpath4proj}/StructVariationCalling
output.target=${name}.germline.DEL.vcf

[DellyMergeDUP.input]
input.path=${outpath4proj}/StructVariationCalling
input.target=from_fam.ped
input.pattern=${InputPath}/|/DellyCalling/|.DEL.bcf

[DellyMergeDUP.parameter]
sv_type="DUP"

[DellyMergeDUP.output]
output.path=${outpath4proj}/StructVariationCalling
output.target=${name}.DUP.bcf

[DellyMergeAllDUP.input]
input.path=${outpath4proj}/StructVariationCalling
input.target=from_fam.ped
input.pattern=${InputPath}/|/DellyDUPGenotype/|.DUP.geno.bcf

[DellyMergeAllDUP.parameter]
sv_type="DUP"

[DellyMergeAllDUP.output]
output.path=${outpath4proj}/StructVariationCalling
output.target=${name}.germline.DUP.vcf

[DellyMergeINV.input]
input.path=${outpath4proj}/StructVariationCalling
input.target=from_fam.ped
input.pattern=${InputPath}/|/DellyCalling/|.INV.bcf

[DellyMergeINV.parameter]
sv_type="INV"

[DellyMergeINV.output]
output.path=${outpath4proj}/StructVariationCalling
output.target=${name}.INV.bcf

[DellyMergeAllINV.input]
input.path=${outpath4proj}/StructVariationCalling
input.target=from_fam.ped
input.pattern=${InputPath}/|/DellyINVGenotype/|.INV.geno.bcf

[DellyMergeAllINV.parameter]
sv_type="INV"

[DellyMergeAllINV.output]
output.path=${outpath4proj}/StructVariationCalling
output.target=${name}.germline.INV.vcf

[DellyDELGenotype.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_fam.ped
input.pattern=${InputPath}/|/MappingAndCleanUp/|.recal.bam

[DellyDELGenotype.parameter]
sv_type="DEL"


[DellyDELGenotype.output]
output.path=${outpath4step}
output.target=${name}.DEL.geno.bcf

[DellyDUPGenotype.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_fam.ped
input.pattern=${InputPath}/|/MappingAndCleanUp/|.recal.bam

[DellyDUPGenotype.parameter]
sv_type="DUP"


[DellyDUPGenotype.output]
output.path=${outpath4step}
output.target=${name}.DUP.geno.bcf

[DellyINVGenotype.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_fam.ped
input.pattern=${InputPath}/|/MappingAndCleanUp/|.recal.bam

[DellyINVGenotype.parameter]
sv_type="INV"


[DellyINVGenotype.output]
output.path=${outpath4step}
output.target=${name}.INV.geno.bcf

[PindelCalling.input]
input.path=${outpath4proj}/BasicWESorWGS
input.target=from_fam.ped
input.pattern=${InputPath}/|/MappingAndCleanUp/|.recal.bam

[PindelCalling.parameter]
Filtering_para="centelBuffer=1000:gapOverlap=0.5:gapsBuffer=600"
sv_type="D INV TD SI"


[PindelCalling.output]
output.path=${outpath4step}
output.target=${name}.DEL.filtered.merged.tab:${name}.DUP.filtered.merged.tab:${name}.INV.filtered.merged.tab:${name}.INS.filtered.merged.tab

